<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Polls</title>
  <link rel="stylesheet" href="../static/index.css">
</head>
<body>
  <div id="root">
    {% for p in polls %}
      <div class="w-33 d-flex">
        <div class="poll_overview">
          <div>{{ p.question }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</body>
</html>